* {
    font-family: "Roboto", serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header ul,
.hero .text .content span {
    font-size: 1.125rem;
    color: #E5E7EB;
}

.header span {
    font-size: 1.5rem;
    color: #F9FAF8;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10rem;
    gap: 3rem;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.hero .text .title span {
    font-size: 3rem;
    color: #FAF9F8;
    font-weight: 900;
}

.button {
    border: none;
    padding: 0.5rem 1rem;
    width: 8rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.hero-button,
.call-to-action {
    background-color: #3882F6;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.hero .image {
    background-color: #6D747D;
    align-self: stretch;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .image span {
    color: #FFFFFF;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 3rem 0;
}

.information .title {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: 900;
}

.information .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.information .cards-container .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 0 10rem;
}

.information .cards-container .card .img {
    height: 10rem;
    border: 4px solid #3882F6;
    border-radius: 1rem;
}

.information .cards-container .card .text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 4rem 0;
}

.quote-container {
    flex-direction: column;
    align-items: center;
    width: 49rem;
    margin: 0 auto;
}

.quote,
.quote-container {
    display: flex;
}

.quote-container .text,
.quote-container .author {
    color: #1F2937;
}

.quote-container .text {
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
}

.quote-container .author {
    font-size: 1.25rem;
    font-weight: 800;
    align-self: flex-end;
}

.call-to-action {
    margin: 5rem 10rem;
    padding: 2.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.call-to-action-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.signup-button {
    border: 2px solid #FFFFFF;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #FFFFFF;
}

.footer {
    padding: 2rem;
    color: #FFFFFF;
    text-align: center;
}